body {
    background-color: aliceblue;
}
.backModal {
    /*deixar fundo não clicavel*/
    position: fixed;

    opacity:1;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background: #6C7A89;
}
#comoJogar, #pause {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#comoJogar h1, #comoJogar h2, #comoJogar h3, #pause h1, #pause h2, #pause h3 {
    text-align: center;
    color: #fff;
}
#comoJogar div, #pause div {
    position: absolute;

    opacity: 1;
    width: 400px;
    height: 400px;
    background: rgb(0, 0, 0);
}

.fecharcomoJogar, .fecharpause {
    top: 200px;
    position: relative;
}

.fecharcomoJogar button, .fecharpause button {
   background-color: rgb(160, 0, 0);
   color: rgb(0, 0, 0);
}

#divInicial {
    border: 2px solid black;
    top: 10px;
    left: 10px;
    position: absolute;
    width: 45vw;
    height: 70vh;
    background-color: #6C7A89;
}

#divFinal {
    border: 2px solid black;
    top: 10px;
    left: 50vw;
    position: absolute;
    width: 50vw;
    height: 70vh;
    background-color: #6C7A89;
}

#divImg {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

#divImg div {
    padding: 5vh;
}

#Final img{
    filter: opacity(0.2) drop-shadow(0 0 0 #000);
}

#boxVerificar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
    bottom: 20px;
    right: 10px;

}
#boxVerificar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    width: 30em;
    height: 5em;
}

#verificar {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#verificar:hover {
    background-color: rgba(255, 0, 0, 1);
}

#verificar:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#next {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(0, 220, 11);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#next:hover {
    background-color: rgb(2, 255, 15);
}

#next:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#buttoncomoJogar {
    color: #fff;
    background-color: #000;
    position: fixed;

    width: 100px;

    position: fixed;
    bottom: 10px;
    left: 10px;
}
#buttonPause {
    color: #fff;
    position: fixed;

    /* height: 15vw; */
    width: 10vw;
    left: 42vw;
    bottom: 1vh;
}

.buttonFases img {
  height: 40px;
}

.cenario{
    position: absolute;
    top: 10px;
    margin-left: 20px;
    left: 25em;
    float: left;
    height: 35em;
    width: 40em;
    border: 2px solid black;

    background-size: cover;  
}