#divInicial {
    float: left;
    width: 25%;
    height: 100%;
    border: 2px solid black;
    margin-right: 10px;
}

#divFinal {
    float: left;
    width: 50%;
    height: 100%;
    border: 2px solid black;
}

#divFinal div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    width: 15rem;
    height: 15rem;
}
#divFinal div#next {
    float: left;
    width: 30rem;
    height: 15rem;
    margin: 10px;
}

#divFinal div div {
    width: 1.5rem;
    height: 1.5rem;
    border: 0px;
    border: 2px dashed black;
}

#divFinal div div#circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: aquamarine;
    border: 0px;
}

#divFinal div div#square {
    width: 1.5rem;
    height: 1.5rem;
    background-color: aquamarine;
    border: 0px;
}

#divFinal div div#triangle {
    border: 0px;
    width: 0;
    height: 0;

    border: 1.5rem solid transparent;
    border-top: 0;
    border-bottom: 2.5rem solid aquamarine;
}